.sponsor_wall {
    background-color: #180050;
    padding: 60px 0;
    border-top: 4px solid #d4af37;
    /* Color oro */
    border-bottom: 4px solid #d4af37;
    /* Color oro */
}

.sponsor_card {
    background-color: transparent;
    /* Usa transparente en lugar de #ffffff00 */
    background-image: url('../img/donations/player-card.png');
    /* Asegúrate de que esta imagen tenga transparencia */
    background-size: cover;
    /* Ajusta la imagen al tamaño del contenedor */
    background-position: center;
    /* Centra la imagen en el contenedor */
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
    /* Asegura que el contenido no sobresalga */
    width: 100%;
    /* Ajusta el ancho según sea necesario */
    height: auto;
    /* Ajusta la altura automáticamente según el contenido */
    border: none;
    /* Asegúrate de que no haya un borde blanco alrededor */
}

.sponsor_card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    /* Sombra más pronunciada en hover */
}

.sponsor_med {
    background-color: #f1c40f;
    /* Color dorado para el MED */
    color: #333;
    font-size: 26px;
    /* Tamaño más grande para el MED */
    font-weight: bold;
    text-align: center;
    padding: 12px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 70px;
    /* Tamaño del MED */
    height: 70px;
    /* Tamaño del MED */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    /* Sombra del MED */
}

.sponsor_rank {
    font-size: 18px;
    /* Aumenta el tamaño del texto del rango */
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.sponsor_name {
    font-size: 22px;
    /* Tamaño más grande para el nombre */
    font-weight: bold;
    color: #262626;
}

.sponsor_level {
    font-size: 18px;
    /* Tamaño del nivel */
    color: rgb(255, 187, 0);
    margin-bottom: 15px;
}

.sponsor_stars {
    color: #ffd700;
    /* Color dorado para estrellas */
    font-size: 20px;
    /* Tamaño mayor para las estrellas */
}

.first-place,
.second-place,
.third-place,
.common-place {
    border-radius: 15px;
    /* Bordes redondeados para todas las tarjetas */
    padding: 15px;
    /* Espacio interno */
}

.first-place .sponsor_rank {
    color: #d4af37;
    /* Oro */
}

.second-place .sponsor_rank {
    color: #c0c0c0;
    /* Plata */
}

.third-place .sponsor_rank {
    color: #cd7f32;
    /* Bronce */
}

.common-place .sponsor_rank {
    color: #0f037c;
    /* Common */
}

.laurel-icon {
    width: 30px;
    margin: 0 10px;
}

.donation-explanation {
    margin-top: 20px;
    font-size: 1rem;
    color: rgb(245, 245, 245);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
}

.section-title h2,
.section-title p,
.section-title h3 {
    color: #fff;
}

.donation-history {
    background: rgb(9, 1, 53);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.donation-history h2 {
    margin-top: 0;
    color: #fff;
}

.donation-list {
    max-height: 500px;
    /* Ajusta la altura máxima según tu diseño */
    overflow-y: auto;
    /* Activa el scroll vertical cuando sea necesario */
    padding-right: 10px;
    /* Espacio para la barra de desplazamiento */
}

.donation-card {
    margin-bottom: 20px;
    border: 1px solid rgb(39, 39, 39);
    border-radius: 5px;
    overflow: hidden;
    background: rgb(27, 0, 49);
    padding: 15px;
    color: #fff;
}

.donation-card img {
    max-width: 50%;
    height: auto;
}

.status-completed {
    color: green;
    font-weight: bold;
}

.status-pending {
    color: orange;
    font-weight: bold;
}

.status-not-started {
    color: red;
    font-weight: bold;
}

.donate-button {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 30px auto;
    padding: 15px;
    text-align: center;
    background: #0070ba;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.donate-button:hover {
    background: #2c2c2c;
}

.sponsors-container {
    padding: 30px;
    border-radius: 15px;
    margin: 20px auto;
    width: 90%;
    background-image: url('../img/donations/soccer_field_tactic.png');
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-size: cover;
    /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center;
    /* Centra la imagen en el contenedor */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Alinea el contenido verticalmente */
}

@media (max-width: 768px) {
    .sponsor_card {
        padding: 10px;
        margin-bottom: 20px;
    }

    .sponsor_name {
        font-size: 20px;
    }

    .sponsor_level,
    .sponsor_rank {
        font-size: 16px;
    }

    .sponsor_stars {
        font-size: 18px;
    }
}