.sponsor_wall {
    background-color: #180050;
    padding: 60px 0;
    border-top: 4px solid #d4af37;
    /* Color oro */
    border-bottom: 4px solid #d4af37;
    /* Color oro */
}

.sponsor_card {
    background-color: transparent;
    /* Usa transparente en lugar de #ffffff00 */
    background-image: url('../img/donations/player-card.png');
    /* Asegúrate de que esta imagen tenga transparencia */
    background-size: cover;
    /* Ajusta la imagen al tamaño del contenedor */
    background-position: center;
    /* Centra la imagen en el contenedor */
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
    /* Asegura que el contenido no sobresalga */
    width: 100%;
    /* Ajusta el ancho según sea necesario */
    height: auto;
    /* Ajusta la altura automáticamente según el contenido */
    border: none;
    /* Asegúrate de que no haya un borde blanco alrededor */
}

.sponsor_card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    /* Sombra más pronunciada en hover */
}

.sponsor_med {
    background-color: #f1c40f;
    /* Color dorado para el MED */
    color: #333;
    font-size: 26px;
    /* Tamaño más grande para el MED */
    font-weight: bold;
    text-align: center;
    padding: 12px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 70px;
    /* Tamaño del MED */
    height: 70px;
    /* Tamaño del MED */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    /* Sombra del MED */
}

.sponsor_rank {
    font-size: 18px;
    /* Aumenta el tamaño del texto del rango */
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.sponsor_name {
    font-size: 22px;
    /* Tamaño más grande para el nombre */
    font-weight: bold;
    color: #262626;
}

.sponsor_level {
    font-size: 18px;
    /* Tamaño del nivel */
    color: rgb(238, 238, 238);
    margin-bottom: 15px;
}

.sponsor_stars {
    color: #ffd700;
    /* Color dorado para estrellas */
    font-size: 20px;
    /* Tamaño mayor para las estrellas */
}

.first-place,
.second-place,
.third-place,
.common-place {
    border-radius: 15px;
    /* Bordes redondeados para todas las tarjetas */
    padding: 15px;
    /* Espacio interno */
}

.first-place .sponsor_rank {
    color: #d4af37;
    /* Oro */
}

.second-place .sponsor_rank {
    color: #c0c0c0;
    /* Plata */
}

.third-place .sponsor_rank {
    color: #cd7f32;
    /* Bronce */
}

.common-place .sponsor_rank {
    color: #0f037c;
    /* Common */
}

.laurel-icon {
    width: 30px;
    margin: 0 10px;
}

.donation-explanation {
    margin-top: 20px;
    font-size: 1rem;
    color: rgb(245, 245, 245);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
}

.section-title h2,
.section-title p,
.section-title h3 {
    color: #fff;
}

.donation-history {
    background: rgb(9, 1, 53);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 100vh;
    /* Ajusta la altura máxima para ocupar toda la ventana visible */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    /* Oculta cualquier contenido desbordado */
}

.donation-history h2 {
    margin-top: 0;
    color: #fff;
}

.donation-list {
    max-height: calc(100vh - 80px);
    /* Ajusta la altura para dejar espacio para otros elementos */
    overflow-y: auto;
    width: 100%;
}

.donation-card {
    margin-bottom: 20px;
    border: 1px solid rgb(39, 39, 39);
    border-radius: 5px;
    overflow: hidden;
    background: rgb(27, 0, 49);
    padding: 20px;
    /* Aumentar el padding para más espacio interno */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Distribuir el espacio */
    height: auto;
    /* Ajustar altura automáticamente */
    width: 100%;
    max-width: 100%;
    /* Asegurar que la tarjeta ocupe todo el ancho */
}

.status-completed {
    color: green;
    font-weight: bold;
}

.status-pending {
    color: orange;
    font-weight: bold;
}

.status-not-started {
    color: red;
    font-weight: bold;
}

.donate-button {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 20px auto 0;
    /* Ajusta los márgenes */
    padding: 15px;
    text-align: center;
    background: #0070ba;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    flex-shrink: 0;
    /* Evita que el botón se reduzca */
}

.donate-button:hover {
    background: #2c2c2c;
}

.sponsors-container {
    padding: 30px;
    border-radius: 15px;
    margin: 20px auto;
    width: 90%;
    background-image: url('../img/donations/soccer_field_tactic.png');
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-size: cover;
    /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center;
    /* Centra la imagen en el contenedor */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Alinea el contenido verticalmente */
}

@media (max-width: 768px) {
    .donation-card__wrapper-img-text {
        flex-direction: column;
    }

    .donation-card {
        padding: 10px;
        /* Reduce padding en pantallas pequeñas */
    }

    .donation-card p {
        font-size: 0.8rem;
        /* Ajusta el tamaño de fuente en pantallas pequeñas */
    }

    .donation-card img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;

    }

    .sponsor_card {
        padding: 10px;
        margin-bottom: 20px;
    }

    .sponsor_name {
        font-size: 20px;
    }

    .sponsor_level,
    .sponsor_rank {
        font-size: 16px;
    }

    .sponsor_stars {
        font-size: 18px;
    }
}

.badge_first-donation {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4c542;
    /* Color dorado */
    color: #fff;
    font-size: 12px;
    /* Tamaño más pequeño */
    font-weight: bold;
    padding: 3px 8px;
    /* Reducir el relleno para un tamaño más compacto */
    border-radius: 12px;
    /* Reducir el radio para hacerlo más pequeño */
    position: absolute;
    top: 30px;
    /* Alineado con el nombre */
    left: 50%;
    /* Alineado al centro horizontal */
    transform: translateX(-50%);
    /* Centrando con respecto al nombre */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    /* Sombra ligera */
    z-index: 1;
    /* Asegura que no se superponga a otros elementos */
}

.sponsor_rank,
.sponsor_name {
    margin-top: 20px;
    /* Ajustar el margen superior */
    position: relative;
    /* Asegura que estos elementos estén debajo de la insignia */
    z-index: 0;
    /* Asegura que no se superpongan sobre la insignia */
    margin-bottom: 5px;
    /* Añade un poco de margen inferior */
    text-align: center;
    /* Centra el texto */
}

.icon_star {
    margin-right: 5px;
    /* Espacio entre el icono y el texto */
}

.icon_star svg {
    fill: currentColor;
    width: 1em;
    height: 1em;
}

.donation-card__wrapper-img-text {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.donation-card__wrapper-text-btn {
    flex: 1;
}

.image-donation {
    flex: 1;
    width: 100%;
}

.donation-card__text {}